@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC HOTEL</h1>
    <button><a asp-action="Reservations" method="get" type="button">Reservations</a></button>
    <button><a asp-action="AllRooms" method="get" type="button">All Rooms</a></button>
    <button><a asp-action="TopThree" method="get" type="button">Top Three Clients</a></button>
    <button><a asp-action="TotalCapacity" method="get" type="button">Total Capacity</a></button>
    <button><a asp-action="GetRoom" method="get" type="button">Get Room</a></button>
</div>
