@model Room

<h3>Room Found!</h3>
<h4>Room Number: @Model.RoomNum Capacity: @Model.Capacity</h4>
<button>
	<a asp-action="GetRoom">Search again</a>
</button>
<button>
	<a asp-action="Index">Home</a>
</button>